{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="/static/img/about.jpeg" class="d-block w-100" alt="..." width="1200" height="569">
</div>
<h2 style="position: absolute; top: 90px; left: 10px">About Cyber Brains</h2>
<div style="text-align: center">
    <h2 class="px-2">Vision Statement</h2>
    <h4 class="px-2">The objective of our website is to raise awareness about cyber security</h4>
</div>
<h2 class="px-2">What Is Cybersecurity Awareness? Why Do You Need It?</h2>
<div style="text-align: justify" class="px-2 mx-2">
    <p>
        Cybersecurity awareness is the practice of being aware of and protecting yourself and your devices from online
        security threats, such as hackers, viruses, and phishing attacks. It involves understanding how to secure your
        devices and accounts, and being vigilant about protecting your personal and sensitive information
        online.<br><br>
        There are many reasons why cybersecurity awareness is important. Some of the main reasons include:<br>
    </p>

    <ul>
        <li><strong>To protect your personal and sensitive information:</strong><br> Cybersecurity threats can
            compromise your personal
            and sensitive information, such as your login credentials, financial information, and medical records.
            By being aware of these threats and taking steps to protect yourself, you can reduce the risk of this
            information
            falling into the wrong hands.<br></li>

        <li><strong>To protect your devices:</strong><br> Cybersecurity threats can also compromise your devices, such
            as your computer, smartphone,
            or tablet. By being aware of these threats and taking steps to secure your devices, you can prevent them
            from being
            compromised or damaged.<br></li>

        <li><strong>To protect your business or organization:</strong><br> If you are an employee or member of an
            organization, it is important to be
            aware of cybersecurity threats in order to protect the organization's assets, such as its data and networks.
            Cybersecurity
            breaches can have serious consequences for businesses and organizations, including financial loss, damage to
            reputation,
            and legal liabilities.<br></li>

        <li><strong>To protect the internet as a whole:</strong><br> Cybersecurity threats can have far-reaching
            consequences, affecting not just individual
            users and organizations, but the internet as a whole. By being aware of these threats and taking steps to
            protect yourself
            and your devices, you can help to make the internet a safer place for everyone.</li>
    </ul>
    <h2 class="px-2">6 Common Cyberattacks to Include in Your Cybersecurity Awareness Training</h2>
    <p>
        Cyberattacks are a growing concern for individuals and organizations alike, as they can result in the theft of
        sensitive information, disruption of operations,
        and financial loss. It is important to educate yourself and your users about the different types of cyberattacks
        in order to protect yourselves and your devices
        from these threats. Here are six common cyberattacks that you should be aware of and include in your
        cybersecurity awareness training:
    </p>

    <ol>
        <h3>
            <li>Malware Attack:
        </h3>
        <p>“Malware” refers to malicious software viruses including worms, spyware, ransomware, adware, and trojans.
            It can be described
            as unwanted software that is installed in your system without your consent. Typically, a program is
            called malware depending on the intention of the developer and not
            on the actual features. Originally, malware was developed just to prank the end user, however it
            eventually evolved with more and advanced technology implementation to
            target victim machines and gain monetary benefits. There are different factors that attract hackers to
            launch malware infection on any target system. Some have vulnerability
            in the OS, giving too many permissions to access and there are many factors to it.</p>
        <h3>Types of Malware Attacks</h3>
        There are variety of malware attacks. Following are the common types of malware
        <ul>
            <li>Adware</li>
            <li>Bot</li>
            <li>Ransomware</li>
            <li>Rootkit</li>
            <li>Spyware</li>
            <li>Trojan Horse</li>
            <li>Virus</li><br>
            </li>
        </ul>
        <h3>How to protect yourself from malware attacks?</h3>
        <p>Malware is a type of software that is designed
            to harm or exploit a computer system. Here are some tips for protecting yourself from malware attacks:</p>
        <ul>
            <li><strong>Use antivirus software:</strong><br>
                Antivirus software is a type of program that is designed to detect and remove malware from your device.
                It is important to keep your antivirus software up to date in
                order to protect yourself from the latest threats.</li>

            <li><strong>Keep your operating system and software up to date: </strong><br>
                Malware often targets vulnerabilities in outdated software, so it is important to keep your operating
                system and other software up to date with the latest patches and
                security updates.</li>

            <li><strong>Be cautious when opening email attachments:</strong><br>
                Do not open attachments from unknown senders, or from senders who you were not expecting to receive an
                attachment from. Be especially cautious of attachments
                with .exe or .zip file extensions, as these types of files are often used to deliver malware.</li>

            <li><strong>Be cautious when downloading software:</strong><br>
                Only download software from reputable sources, and be sure to read reviews and check for any red flags
                before downloading.</li>

            <li><strong>Use a firewall:</strong><br>
                A firewall is a security system that monitors and controls incoming and outgoing network traffic based
                on predetermined security rules. A firewall can help to protect
                your device from malware by blocking malicious traffic.</li>
            By following these tips, you can help to protect yourself from phishing attacks. It is also a good idea to
            educate your users about phishing and how to identify these types of attacks.
        </ul>
        <br>
        <h3>
            <li>Phising Attack:
        </h3>
        <p>Phishing attack is a type of social engineering attack wherein an attacker impersonates to be a trusted
            contact and sends the victim fake mails.
            It combines social engineering and technical trickery. These attacks often use fake logos and branding
            to appear legitimate, and may use urgent or threatening language to
            trick users into taking action.</p>
        <h3>How does phishing work?</h3>
        <p>Phishing works by sending messages that look like they are from a legitimate company or website. Phishing
            messages will usually contain a link that takes the user to a fake
            website that looks like the real thing. The user is then asked to enter personal information, such as
            their credit card number. This information is then used to steal the person’s
            identity or to make fraudulent charges on their credit card.</p>
        <h3>How to identify phishing emails</h3>
        <p>The best way to avoid falling for a phishing email is to be aware of the common techniques that they use.
            Here are some tips for identifying phishing emails:</p>
        <ul>
            <li><strong>Check the sender's email address:</strong><br>
                Phishing emails often use fake or spoofed email addresses in an attempt to appear legitimate. Be
                suspicious of emails from unfamiliar senders, or from senders who claim to be
                from a reputable organization but whose email address does not match the organization's domain.</li>

            <li><strong>Look for typos or other signs of poor grammar:</strong><br>
                Phishing emails are often poorly written and may contain typos or other errors.</li>

            <li><strong>Be wary of unexpected emails or requests:</strong><br>
                If you receive an unexpected email or an email that asks you to take immediate action, such as
                clicking on a link or providing personal information, be cautious.</li>

            <li><strong>Check the website's URL:</strong><br>
                If the email includes a link, hover your mouse over the link to see the website's URL. If the URL
                looks suspicious or does not match the link's description, do not click on the
                link.</li>

            <li><strong>Be cautious of attachments:</strong><br>
                Do not open attachments from unknown senders, or from senders who you were not expecting to receive
                an attachment from.</li>
            By following these tips, you can help to protect yourself from phishing attacks. It is also a good idea
            to educate your users about phishing and how to identify these types of attacks.
        </ul>
        </li>
        <br>
        <h3>
            <li>Password Attack:
        </h3>
        <p>Password attack is a form of attack wherein a hacker cracks your password with various programs and
            password cracking tools like Aircrack, Cain, Abel, John the
            Ripper, Hashcat, etc. In 2020, 81% of data breaches were due to compromised credentials. Because
            passwords can only contain so many letters and numbers, passwords are becoming less safe.</p>
        <h3>Types of password attacks:</h3>
        <ul>
            <li><strong>Brute force attack:</strong><br>
                A brute force attack is a type of password attack that involves trying all possible combinations of
                characters in an attempt to guess a password. These attacks can be time-consuming, but
                they are also relatively simple to carry out and can be effective against weak passwords.</li>

            <li><strong>Dictionary attack:</strong><br>
                A dictionary attack is a type of password attack that involves using a pre-computed list of common
                words and phrases in an attempt to guess a password. These attacks are often more efficient
                than brute force attacks, as they can test many passwords quickly.</li>

            <li><strong>Rainbow table attack:</strong><br>
                A rainbow table attack is a type of password attack that involves using pre-computed hash tables in
                an attempt to crack hashed passwords. These attacks are more efficient than brute force
                attacks, as they can test many passwords quickly.</li>

            <li><strong>Phishing attack:</strong><br>
                A phishing attack is a type of password attack that involves sending fraudulent emails or setting up
                fake websites in an attempt to trick users into giving away their login credentials.
                These attacks can be difficult to detect, as they often use fake branding and logos to appear
                legitimate.</li>

            <li><strong>Keylogger attack:</strong><br>
                A keylogger attack is a type of password attack that involves installing software on a user's device
                that records the keys they type, including passwords. These attacks can be difficult
                to detect, as the keylogger software is often disguised as a legitimate program.</li>
            <h3>How to protect yourself from password attacks?</h3>
            To protect against these types of password attacks, it is important to use strong, unique passwords and
            to avoid reusing passwords across different accounts. It is also a good idea to use
            two-factor authentication whenever possible, as this adds an extra layer of security to your accounts.
            </li>
        </ul>
        <br>
        <h3>
            <li>SQL Injection Attack:
        </h3>
        <p>SQL injection has become a common issue with database-driven websites. A Structured Query Language
            (SQL) injection attack occurs on a database-driven website when the hacker manipulates a standard SQL query.
            SQL injection attacks are often successful because they take advantage of vulnerabilities in the website's
            code.
            For example, if a website does not properly validate user input, an attacker may be able to enter malicious
            code
            into a form field, which could be executed by the database when the form is submitted.</p>
        <h3>How to protect from SQL Injection Attack?</h3>
        <ul>
            <li><strong>Use parameterized queries:</strong><br>
                Parameterized queries are a type of SQL query that separates user input from the rest of the query,
                making
                it more difficult for attackers to inject malicious code.</li>

            <li><strong>Encode special characters in user input: </strong><br>
                Special characters, such as quotation marks and semicolons, can be used by attackers to inject malicious
                code into a database. By encoding these characters, you can make it more difficult for attackers to
                inject
                malicious code.</li>

            <li><strong>Keep your database and website software up to date:</strong><br>
                It is important to keep your database and website software up to date with the latest patches and
                security updates.
                These updates may include fixes for known vulnerabilities that could be exploited by attackers.</li>

            <li><strong>Use a web application firewall:</strong><br>
                A web application firewall (WAF) is a security system that monitors and controls incoming and outgoing
                network traffic
                based on predetermined security rules. A WAF can help to protect your website from SQL injection attacks
                by blocking
                malicious traffic.</li>
            </li>
        </ul>
        <br>
        <h3>
            <li>Man-in-the-Middle Attack:
        </h3>
        <p>In Man-in-the-Middle Attack (MITM), an attacker comes in between a two-party communication, i.e., the
            attacker hijacks the
            session between a client and host. So, hackers steal and manipulate data.
        </p>
        <p>The goal of an attack is to steal personal information, such as login credentials, account details and credit
            card numbers.
            Targets are typically the users of financial applications, SaaS businesses, e-commerce sites and other
            websites where logging
            in is required. There are several ways that attackers can carry out MitM attacks. For example, they may use
            a network sniffer
            to intercept network traffic, or they may set up a fake wireless access point to trick users into connecting
            to it.
        </p>

        <h3>How to protect from Man-in-the-Middle Attack?</h3>
        <ul>
            <li><strong>Use encrypted connections:</strong><br>
                Encrypted connections, such as HTTPS or VPNs, can help to protect against MitM attacks by encrypting the
                data being
                transmitted between two parties.</li>

            <li><strong>Use secure protocols:</strong><br>
                Secure protocols, such as SSH or SFTP, can also help to protect against MitM attacks by encrypting the
                data being transmitted.</li>

            <li><strong>Use antivirus software:</strong><br>
                Antivirus software is a type of program that is designed to detect and remove malicious software from
                your device. It is important
                to keep your antivirus software up to date in order to protect yourself from the latest threats.</li>

            <li><strong>Use a firewall:</strong><br>
                A firewall is a security system that monitors and controls incoming and outgoing network traffic based
                on predetermined security rules.
                A firewall can help to protect your device from MitM attacks by blocking suspicious traffic.</li>
            <li><strong>Avoid using public Wi-Fi networks:</strong><br>
                Public Wi-Fi networks can be vulnerable to MitM attacks, as they are often unencrypted and easy for
                attackers to access.
                Avoid using public Wi-Fi networks whenever possible, or use a VPN to encrypt your traffic when using
                these networks.</li>
            </li>
        </ul>
        <br>
        <h3>
            <li>Denial-of-Service Attack:
        </h3>
        <p>A denial-of-service (DDoS) attack overwhelms a system’s resources. The attackers target systems, servers, or
            networks and flood them with traffic
            to exhaust their resources and bandwidth.</p>
        <p>
            DoS attacks are often carried out using botnets, which are networks of compromised devices that can be
            controlled remotely by an attacker. The
            attacker can use the botnet to send a large volume of traffic to the targeted website or service,
            overwhelming the server and causing it to crash
            or become unavailable.
        </p>
        <h3>How to protect from Denial-of-Service Attack?</h3>
        <ul>
            <li><strong>Use content delivery networks (CDNs):</strong><br>
                CDNs are networks of servers that are distributed across multiple locations, and are used to deliver
                content to users based on their geographic
                location. By using a CDN, you can distribute traffic across multiple servers, which can help to mitigate
                the effects of a DoS attack.</li>

            <li><strong>Implement rate limiting:</strong><br>
                Rate limiting is a security measure that limits the number of requests that a user or IP address can
                make to a website or service within a given
                period of time. By implementing rate limiting, you can help to prevent DoS attacks by limiting the
                amount of traffic that can be sent to your website or service.</li>

            <li><strong>Use firewalls and intrusion prevention systems:</strong><br>
                Firewalls and intrusion prevention systems (IPS) are security systems that monitor and control incoming
                and outgoing network traffic based on predetermined security rules.
                These systems can help to protect your website or service from DoS attacks by blocking suspicious
                traffic.</li>

            <li><strong>Use a firewall:</strong><br>
                A firewall is a security system that monitors and controls incoming and outgoing network traffic based
                on predetermined security rules.
                A firewall can help to protect your device from MitM attacks by blocking suspicious traffic.</li>
            <li><strong>Use secure protocols:</strong><br>
                Secure protocols, such as HTTPS and SSL, can help to protect against DoS attacks by encrypting the data
                being transmitted between two parties.</li>
            <li><strong>Have a plan in place for responding to DoS attacks:</strong><br>
                It is important to have a plan in place for responding to DoS attacks, including identifying the source
                of the attack and working with your hosting provider or security team
                to mitigate the attack.</li>
            </li>
        </ul>
        </li>


    </ol>
</div>
<div>

</div>
{% endblock body %}